# Data Sightseeing

Provide preview about contents of the given data.

In [2]:
%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('..')

import pandas as pd
import numpy as np
import os
from tqdm import tqdm

import definitions

## Loading

In [5]:
labels = pd.read_csv(os.path.join(definitions.DATA_LABEL, os.listdir(definitions.DATA_LABEL)[0]))
labels.head()

       bookingID  label
0   111669149733      0
1   335007449205      1
2   171798691856      0
3  1520418422900      0
4   798863917116      0

In [6]:
print(len(labels[labels['label']==0]))
print(len(labels[labels['label']==1]))
print(len(labels))

15017
5001
20018